
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <h1>Displaying Game Information</h1>
    <p>Game Name: @ViewBag.GamingUser.GameName</p>
    <p>Release Date: @ViewBag.GamingUser.ReleaseDate</p>
    <p>Recommended?: @ViewBag.GamingUser.Recommended</p>
    <p>Rating?: @ViewBag.GamingUser.Rating</p>
    <p>Game Genre?: @ViewBag.GamingUser.Genre</p>
</body>
</html>
